In [3]:
import pandas as pd

In [11]:
df1 = pd.read_csv('https://docs.google.com/spreadsheets/d/1Os-xJ4848DYwYF5rQrO6S-nSfI2z8X7SouqOLBwU5Kc/export?format=csv')
df2 = pd.read_csv('/Users/robertwrobel/Code/Schmittware/emm/feed.csv', encoding='ISO-8859-1')
df2['VIN'] = df2['VIN']
df = pd.merge(df1,df2, on='VIN', how='left')
df = df[df['image_link'].notna()]
df = df[df['New/Used'] == 'U']

#df = df[df['Class'].str.startswith('SUV')]
df.head()

,VIN,Age,Odometer,Make,Model,Year,Price,Class,New/Used,Series,...,price,vehicle_msrp,condition,certified_pre-owned,brand,model,trim,year,mileage,color
0,1C6RRFFG8PN630518,136,"6,669",Ram,1500,2023,"$38,290","Truck, Large Pick-up",U,Big Horn/Lone Star,...,38290.00 USD,NaN,used,no,Ram,1500,Big Horn,2023.0,6663 Miles,Granite Crystal Metallic Clearcoat
1,2C3CCADG6NH191075,106,"11,533",Chrysler,300,2022,"$30,990","Car, Intermediate",U,Touring,...,30990.00 USD,NaN,used,no,Chrysler,300,Touring L,2022.0,11533 Miles,Velvet Red Pearlcoat
6,4T1C11AK6PU139922,101,"24,327",Toyota,Camry,2023,"$26,990","Car, Intermediate",U,LE,...,26990.00 USD,NaN,used,no,Toyota,Camry,LE,2023.0,24315 Miles,White
7,1GTH6CEA3K1245621,108,"7,810",GMC,Canyon,2019,"$28,990","Truck, Small Pick-up",U,SLE1,...,28990.00 USD,NaN,used,yes,GMC,Canyon,SLE,2019.0,7846 Miles,Silver
9,2C3CDZC97PH573391,98,592,Dodge,Challenger,2023,"$70,290","Car, Sport",U,SRT Hellcat Jailbreak,...,70290.00 USD,NaN,used,no,Dodge,Challenger,SRT Hellcat Jailbreak,2023.0,605 Miles,B5 Blue Pearlcoat

In [ ]:
vins = df['VIN'].tolist()
pics = df['image_link'].tolist()
miles = df['Odometer'].tolist()
makes = df['Make'].tolist()
models = df['Model'].tolist()
years = df['Year'].tolist()
prices = df['price'].tolist()
categories = df['Class'].tolist()
#vinleads = df['Vin Leads'].tolist()
#mktavgprices = df['Mkt Avg Price'].tolist()
#bookauctions = df['Book'].tolist()
#mktodometers = df['Mkt Avg Odometer'].tolist()
#certs = df['Certified'].tolist()
#series = df['Series'].tolist()

linkstem = "https://www.schmittchevrolet.com/search-results/index.htm?search="
linkstem2 = "&utm_source=specials&utm_medium=email&utm_term=all"
links = []
#adding linkstem2 might be a problem
for i in vins:
    links.append(linkstem + str(i) + linkstem2)

picvars = ['PIC1','PIC2','PIC3','PIC4','PIC5','PIC6']
makevars = ['MAKE1','MAKE2','MAKE3','MAKE4','MAKE5','MAKE6']
modelvars = ['MODEL1','MODEL2','MODEL3','MODEL4','MODEL5','MODEL6']
pricevars = ['PRICE1','PRICE2','PRICE3','PRICE4','PRICE5','PRICE6']
milesvars = ['MILES1','MILES2','MILES3','MILES4','MILES5','MILES6']
yearvars = ['YEAR1','YEAR2','YEAR3','YEAR4','YEAR5','YEAR6']
linkvars = ['LINK1','LINK2','LINK3','LINK4','LINK5','LINK6']

makesdict = dict(zip(makevars,makes))
modelsdict = dict(zip(modelvars,models))
pricesdict = dict(zip(pricevars,prices))
milesdict = dict(zip(milesvars,miles))
imagesdict = dict(zip(picvars,pics))
yearsdict = dict(zip(yearvars,years))
linksdict = dict(zip(linkvars,links))

def replace_floats(dictionary):
    for key, value in dictionary.items():
        dictionary[key] = str(int(value))
    return dictionary

replace_floats(yearsdict)

def replace_nan_values(dictionary):
    for key, value in dictionary.items():
        if isinstance(value, float) and math.isnan(value):
            dictionary[key] = "Contact Dealer"
    return dictionary

replace_nan_values(pricesdict)

def replace_text(text, replacements):
    for key, value in replacements.items():
        text = text.replace(key, value)
    return text

to_replace = [makesdict, modelsdict, pricesdict, milesdict, imagesdict, yearsdict, linksdict]