In [1]:
#Lists

#Creating empty lists
el = []

In [2]:
car_brands = ['Toyota', 'Honda', 'BMW', 'Ford']
print(car_brands)

['Toyota', 'Honda', 'BMW', 'Ford']

In [3]:
#Accessing Elements
first_brand = car_brands[0]
last_brand = car_brands[-1]
print(first_brand, last_brand)

Toyota Ford

In [4]:
#Slicing
subset = car_brands[1:3]
print(subset)

['Honda', 'BMW']

In [5]:
#Length
length = len(car_brands)
print(length)

4

In [6]:
#Concatenation
more_brands = ['Mercedes', 'Audi']
combined = car_brands + more_brands
print(combined)

['Toyota', 'Honda', 'BMW', 'Ford', 'Mercedes', 'Audi']

In [7]:
#Modifying Elements
car_brands[1] = 'Chevrolet'
print(car_brands)

['Toyota', 'Chevrolet', 'BMW', 'Ford']

In [8]:
#Appending Elements
car_brands.append('Nissan')
print(car_brands)

['Toyota', 'Chevrolet', 'BMW', 'Ford', 'Nissan']

In [9]:
#Inserting Elements
car_brands.insert(2, 'Tesla')
print(car_brands)

['Toyota', 'Chevrolet', 'Tesla', 'BMW', 'Ford', 'Nissan']

In [10]:
#Removing Elements - Remove
car_brands.remove('BMW')
print(car_brands)

['Toyota', 'Chevrolet', 'Tesla', 'Ford', 'Nissan']

In [11]:
#Removing Elements - Pop
#Note that this changes the "car_brands" list too
popped_brand = car_brands.pop(1)
print(popped_brand, car_brands)

Chevrolet ['Toyota', 'Tesla', 'Ford', 'Nissan']

In [12]:
#Sorting
car_brands.sort()
print(car_brands)

#Reversing
car_brands.reverse()
print(car_brands)

['Ford', 'Nissan', 'Tesla', 'Toyota']
['Toyota', 'Tesla', 'Nissan', 'Ford']

In [13]:
#Counting
count = car_brands.count('Toyota')
print("List Counting:", count)

List Counting: 1

In [ ]:
#List comprehensions
#Make lists using iteration and generation at same time / in one line

#Syntax: [expression for item in iterable if condition]

#Expression: Computed expression to be included in the final list
#Item: What will be processed
#Iterable: Object or sequence to loop over
#If condition (Optional): Conditions under which to apply the expression

squares = [x ** 2 for x in range(1, 9)]
print(squares)
squares_lt3 = [x ** 2 for x in range(1, 9) if x < 3]
print(squares_lt3)

In [14]:
#Collect only even numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [n for n in numbers if n % 2 == 0]
print(even_numbers)
odd_numbers = [n for n in numbers if n % 2 == 1]
print(odd_numbers)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [15]:
#Create a tuple from x, x**2, and x**3
numbers = [1, 2, 3, 4, 5]
numbers_squared_cubed = [(num, num ** 2, num ** 3) for num in numbers]
print(numbers_squared_cubed)

[(1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125)]

In [16]:
#Create a dictionary from x and x**2 using "dictionary comprehensions"
numbers = [1, 2, 3, 4, 5]
x = [1, 2, 3, 4, 5]
d = {num: num ** 2 for num in x} #Note the braces
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [17]:
#Capitalize all the words and put them in a new list 
words = ['alpha', 'beta', 'gamma']
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

['ALPHA', 'BETA', 'GAMMA']