In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.miscmodels.ordinal_model import OrderedModel
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('affairs.csv')
df.head()

,affair_yes,affair_count,is_male,age,years_married,have_kids,religiousness_1to5,years_of_education,hollingshead_occupation_code,marriage_rating_1to5
0,0,0,1,37.0,10.00,0,3,18,7,4
1,0,0,0,27.0,4.00,0,4,14,6,4
2,0,0,0,32.0,15.00,1,1,12,1,4
3,0,0,1,57.0,15.00,1,5,18,6,5
4,0,0,1,22.0,0.75,0,2,17,6,3

In [8]:
y = df['religiousness_1to5']
X = df[['age','years_of_education']]
model = OrderedModel(y, X, distr='logit')  
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 1.478291
         Iterations: 415
         Function evaluations: 638

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OrderedModel Results
==============================================================================
Dep. Variable:     religiousness_1to5   Log-Likelihood:                -888.45
Model:                   OrderedModel   AIC:                             1789.
Method:            Maximum Likelihood   BIC:                             1815.
Date:                Sat, 23 Dec 2023
Time:                        21:02:03
No. Observations:                 601
Df Residuals:                     595
Df Model:                           2
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
age                    0.0422      0.008      5.064      0.000       0.026       0.059
years_of_education    -0.0510      0.031     -1.644      0.100      -0.112       0.010
1/2                   -1.9579      0.558     -3.506      0.000      -3.052      -0.863
2/3                    0.6240      0.076      8.216      0.000       0.475       0.773
3/4                   -0.0969      0.081     -1.201      0.230      -0.255       0.061
4/5                    0.5962      0.068      8.782      0.000       0.463       0.729
======================================================================================
"""