In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
from statsmodels.tsa.ar_model import AutoReg
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import adfuller

In [32]:
df = pd.read_csv('electricity_demand.csv')
df.head()
df['year_quarter'] = pd.PeriodIndex(df['obs'], freq='Q')
df.set_index('year_quarter')

,obs,period,reskwh,nocust,price,cpi,incm,cdd,hdd,pop
year_quarter,,,,,,,,,,
1972Q2,1972Q2,1972.2,586.608,459.903,2.250,36.540,1815.148,75.335,285.451,1422.640
1972Q3,1972Q3,1972.3,625.797,467.130,2.207,36.984,1863.625,581.389,3.015,1434.922
1972Q4,1972Q4,1972.4,704.154,476.188,2.370,37.486,1915.929,103.646,402.203,1447.842
1973Q1,1973Q1,1973.1,817.206,483.329,2.295,37.900,1967.750,0.435,833.673,1462.783
1973Q2,1973Q2,1973.2,667.642,489.866,2.454,38.639,2020.041,57.923,397.441,1475.720
...,...,...,...,...,...,...,...,...,...,...
1992Q4,1992Q4,1992.4,1405.336,1001.411,10.790,148.121,13466.983,234.293,296.915,2650.582
1993Q1,1993Q1,1993.1,1512.306,1003.300,10.852,150.008,13186.876,4.185,740.822,2652.587
1993Q2,1993Q2,1993.2,1241.345,1004.578,10.760,150.791,13615.005,118.341,175.725,2659.708
1993Q3,1993Q3,1993.3,1405.036,1005.444,10.967,150.700,13705.649,488.668,5.496,2668.360
1993Q4,1993Q4,1993.4,1392.183,1007.706,10.942,150.900,13870.889,149.242,288.292,2678.544

In [26]:
#Augmented Dickey Fuller test for stationarity 
#H0: Time series contains a unit root and is non-stationary, HA: Time series does not contain a unit root and is stationary
#If adf_stat < adf_cv, reject the null / If p-value < alpha, reject the null
adf_result = adfuller(df['TotalSales'])
adf_stat = adf_result[0]
adf_p_value = adf_result[1]
five_pct_cv = adf_result[4].get('5%') #adf_result[4] is a dictionary of alpha and cv


if adf_p_value < 0.05:
    print('Reject the Null - The data are probably stationary')
else:
    print('Do not reject the null - The data are probably not stationary.')
    
if adf_stat < five_pct_cv:
    print('Reject the null - The data are probably stationary')
else:
    print('Do not reject the null - The data are probably not stationary.')

Do not reject the null - The data are probably not stationary.
Do not reject the null - The data are probably not stationary.