In [18]:
#Lesson 1
#Intro to Python and Descriptive Statistics

In [19]:
#The pound sign is used to write comments 
#Write comments in your code so you and others can understand it

In [20]:
#Priting to console
print("Hi everyone!")

Hi everyone!

In [21]:
#Basic Arithmatic
print(123 + 456)
print(123 - 456)
print(123 * 456)
print(123 / 456)

579
-333
56088
0.26973684210526316

In [22]:
#Basic Data Types
print(type(1))
print(type('a'))
print(type('1'))
print(type(True))
print(type('True'))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>

In [23]:
#Variables
teacher = "me"
print(teacher)

x = 5
y = 10
print(y / x)

me
2.0

In [24]:
#Lists 
example_list = [1, 2, 3, 4, 5, 6, 7]
print(example_list)

#Slicing Lists
#Lists are indexed starting at 0, meaning the first item in a list is item #0, not item #1
#The end point for a slice is not included in the returned list

print(example_list[0]) #Selects first item in list
print(example_list[1]) #Selects second number in list
print(example_list[-1]) #Selects last item in list
print(example_list[:3])  #Ends prior to 3rd place
print(example_list[2:])  #Starts at 3rd place 
print(example_list[2:4]) #Starts at 3rd place and ends before 5

[1, 2, 3, 4, 5, 6, 7]
1
2
7
[1, 2, 3]
[3, 4, 5, 6, 7]
[3, 4]

In [25]:
#Dictionaries
example_dictionary = {'a':1, 'b':2, 'c':3}
print(example_dictionary['b'])

2

In [26]:
#Creating functions
#Declare that you're creating a function, give it a name, followed by "():"
def myfunction():
#Give your function something to do.  Also, be sure to indent.
    print("You sure put's the FUN in FUNction")
#Call your function by typing its name
myfunction()

You sure put's the FUN in FUNction

In [27]:
#Creating functions with arguments / parameters
def my2ndfunction(name):
    print("Hi " + name)

my2ndfunction("Bob")

Hi Bob

In [28]:
#Use "return" at the end of your function to pass data back to your script / environment
def my3rdfunction(x,y):
    return x + y

x = my3rdfunction(3, 4)
y = my3rdfunction(1, 2)
print(x)
print(y)

7
3

In [31]:
#"F string interpolation" 
status = "awesome"
def my4thfunction(name):
    print(f"Hi {name}. You're {status}!")

my4thfunction("Bob")

Hi Bob. You're awesome!

In [3]:
#For loops
list = [1, 2, 3, 4, 5, 6, 7]

for whatever in list:
    whatever = whatever ** 2
    print(whatever)

1
4
9
16
25
36
49

In [32]:
#Range
#range(start, stop, step)
#start is first number (optional, otherwise zero), stop is index point at which to stop (not including that number), step (optional) is the incrment

#Create empty lists
a = []
b = []
c = []

#Loop through the range and add each number to a list using append
for x in range(5):
    a.append(x)

for x in range(1,5):
    b.append(x)

for x in range(1,10,2):
    c.append(x)

print(a)
print(b)
print(c)

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[1, 3, 5, 7, 9]

In [33]:
#Multiplying two lists with a loop
a = [1,2,3,4]
b = [2,3,4,5]
#Create empty list
aXb = []  

for i in range(0, len(a)):
    c = a[i] * b[i]
    aXb.append(c)    #Append adds values to a list
    
print(aXb)

[2, 6, 12, 20]

In [34]:
#While loops
x=0

while x<20:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [35]:
#Multiplication tables
for i in range(1, 13):
    # nested loop
    # to iterate from 1 to 10
    for j in range(1, 13):
        # print multiplication
        print(i * j, end=' ') #The end argument prevents this from printing each number to a new line

1 2 3 4 5 6 7 8 9 10 11 12 2 4 6 8 10 12 14 16 18 20 22 24 3 6 9 12 15 18 21 24 27 30 33 36 4 8 12 16 20 24 28 32 36 40 44 48 5 10 15 20 25 30 35 40 45 50 55 60 6 12 18 24 30 36 42 48 54 60 66 72 7 14 21 28 35 42 49 56 63 70 77 84 8 16 24 32 40 48 56 64 72 80 88 96 9 18 27 36 45 54 63 72 81 90 99 108 10 20 30 40 50 60 70 80 90 100 110 120 11 22 33 44 55 66 77 88 99 110 121 132 12 24 36 48 60 72 84 96 108 120 132 144

In [36]:
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = [2, 4, 6, 8, 10, 12, 14]


#What will this do?!?k
for x in list1:
    for y in list2:
        print(x * y, end=" ")

2 4 6 8 10 12 14 4 8 12 16 20 24 28 6 12 18 24 30 36 42 8 16 24 32 40 48 56 10 20 30 40 50 60 70 12 24 36 48 60 72 84 14 28 42 56 70 84 98

In [37]:
#Control flow
x = 4

#If / else control flow
if x > 4:
    print("X is greater than 4")
else:
    print("X is not greater than 4")

X is not greater than 4

In [38]:
#If / elif / else control flow
if x > 4:
    print("X is greater than 4")
elif x < 4:
    print("X is less than 4")
else: 
    print("x must be four if it isn't greater or less")

x must be four if it isn't greater or less

In [39]:
#Length with len()
v = [4, 2, 6, 11, 9, 3, 8]
n = len(v)

In [40]:
#The sorted() function returns a list sorted from lowest to highest value
s = sorted(v)
print(s)

[2, 3, 4, 6, 8, 9, 11]

In [41]:
#Function to calculate mean
def calculate_mean(values):
    return sum(values) / len(values) #the sum function takes the sum...

In [42]:
#The modulus, %, returns the remainder after division  
print(26 % 4) # 4 goes into 26 6 whole times with a remainder of two (6x4=24+2=26)
print(12 % 4) # 4 goes into 12 3 whole times, with 0 remainder

2
0

In [43]:
#If the series is even numbered, lenght % 2 = 0, if odd numbered length % 2 = 1
n = 4
print(n % 2)
print((n + 1) % 2)

0
1

In [44]:
#Function to calculate median
def calculate_median(values):
    sorted_values = sorted(values)
    n = len(sorted_values)
    if n % 2 == 1:
        return int(sorted_values[n//2]) #int gets rid of floating point decimal
    else:
        return int((sorted_values[n//2 - 1] + sorted_values[n//2]) / 2) #the "n//2" is using "floor division"

even = [1, 2, 3, 8, 3, 4, 1, 6]
calculate_median(even)

3

In [45]:
odd = [1, 4, 5, 6, 8]
calculate_median(odd)

5

In [46]:
#Function to calculate mode
def calculate_mode(values):
    counts = {}
    for num in values:
        if num in counts:
            counts[num] += 1
        else:
            counts[num] = 1
            
    max_count = max(counts.values())

    modes = []
    for num, count in counts.items():
        if count == max_count:
            modes.append(num)

    return modes

values = [1, 2, 3, 2, 4, 4, 5]
calculate_mode(values)

[2, 4]

In [47]:
#Function to calculate range
def calculate_range(values):
    return max(values) - min(values)

x = [1, 2, 3, 3, 4, 5, 6]
calculate_range(x)

5

In [48]:
#Function to calculate variance

def calculate_variance(values, sORp):
    mean = calculate_mean(values)
    ssd = 0 #sum of squarred differences
    
    for value in values:
        x = value - mean
        y = x**2
        ssd += y
    
    if sORp == "p":
        variance = ssd / len(values)
    elif sORp == "s":
        variance = ssd / (len(values)-1)
        
    return variance
    
    

x = [1, 2, 3, 3, 4, 5, 6]
calculate_variance(x, "s")

2.9523809523809526

In [49]:
#Import Numpy so we can use the square root funciton to calculate standard deviation
import numpy as np
#Function to calculate standard deviation
def calculate_stdev(values):
    return np.sqrt(calculate_variance(values))

calculate_stdev(x)

PermissionError: [Errno 1] Operation not permitted

In [50]:
#Import Panadas so we can import and manipulate data
import pandas as pd
#Load data into a dataframe, then view the first 10 rows
df = pd.read_csv("monthly_sales.csv")
df.head(10)

PermissionError: [Errno 1] Operation not permitted

In [37]:
#Define the columns we are interested in (used lower in the code)
columns = ['Sales', 'Cost', 'Revenue']

for column in columns:
    values = df[column].tolist()
    print(f"Descriptive Statistics for {column}:")
    print(f"Mean: {calculate_mean(values)}")
    print(f"Median: {calculate_median(values)}")
    print(f"Mode: {calculate_mode(values)}")
    print(f"Range: {calculate_range(values)}")
    print(f"Variance: {calculate_variance(values)}")
    print(f"Standard Deviation: {calculate_stdev(values)}")
    print("\n")

Descriptive Statistics for Sales:
Mean: 503.1166666666667
Median: 502
Mode: 704
Range: 435
Variance: 8934.236388888892
Standard Deviation: 94.52108965140474


Descriptive Statistics for Cost:
Mean: 30835.15
Median: 31037
Mode: 41673
Range: 27370
Variance: 24084050.19416667
Standard Deviation: 4907.550325179221


Descriptive Statistics for Revenue:
Mean: 79914.5
Median: 80552
Mode: 93378
Range: 31192
Variance: 41973348.35
Standard Deviation: 6478.684152665571

In [39]:
#Pandas can, of course, do all of what we've done so far much easier
print(df['Sales'].mean())
print(df['Sales'].median())
print(df['Sales'].mode()[0])
print(df['Sales'].max())
print(df['Sales'].min())
print(df['Sales'].var())
print(df['Sales'].std())

503.1166666666667
502.5
390
704
269
9085.66412429379
95.31875011923829

In [38]:
#Even easier
df.describe()

            Sales          Cost       Revenue
count   60.000000     60.000000     60.000000
mean   503.116667  30835.150000  79914.500000
std     95.318750   4948.964986   6533.357562
min    269.000000  14303.000000  62186.000000
25%    443.500000  28557.000000  76019.500000
50%    502.500000  31037.500000  80552.500000
75%    556.250000  33925.500000  84188.250000
max    704.000000  41673.000000  93378.000000